html, div, span, canvas {
  margin:0;
  padding:0;
}
/* Need these backgrounds to fix initial white screen flash */
body {
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(top, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin:0;
  padding:0;
}

#navigation-links a {
  padding: 0 0 0 0;
}
#navigation-links {
  z-index:4;
}

#pixie {
  z-index:0;
  background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(top, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(top, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  filter:progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7');
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorStr='#040429', EndColorStr='#257eb7')";
  filter: contrast(105%);
}

.ui.main.header.homepage {
  z-index: 4;
  transition: all .3s ease-in-out;
}
#mountains, #grass {
  width:100%;
  position:absolute;
  bottom:0;
}

.ui.middle.aligned.centered.grid.text.container.home-page-header {
  width:100%;
  position:absolute;
  top:40%;
}

#container-background .wrapper .ui.middle.aligned.centered.grid.text.container.home-page-header #second-header {
  color: #bfbfbf;
  z-index: 4;
  transition: all .3s ease-in-out;
}

#mountains {
  height: 676px;
  z-index:1;
  background:url(../../images/parallax-homepage/mountains.png) repeat-x 0 0;
}
#grass {
  height:162px;
  z-index:2;
  background:url(../../images/parallax-homepage/) repeat-x left 10px;
}
