---
layout: default
---

{% include menubar.html active="" %}

  <head>
    <meta charset="utf-8">

 
    <meta name="description" content="Christopher Nguyen Professional Portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="css/style.css">
  </head>
  <body>
  <div class="ui container">
  <div class="home-main">
  <h1 class="home-class">404 ERROR! It seems that you are lost in space!</h1>
  <div style="padding-top: 20px" class="ui container ">
  <p>I'm sorry, that URL could not be found. Perhaps you were looking for one of the following:</p>
  <h3>Projects</h3>
  <ul>
    {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
    {% for page in project_pages %}
    <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

</div>
  </div>
  </div>
  <div id="particles-js"></div>
  <script src="js/particles.js"></script>
  <script src="js/app.js"></script>
  </div>
  </body>



